<h1>Session Calendar</h1>


<% start_date = params.fetch(:start_date, Date.today) %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>

<table>
	<thead>
		<tr>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</tr>
	</thead>
	<tbody>
		<% date_range.each_slice(7) do |week| %>
			<tr>
				<% week.each do |day| %>
					<td><%= day %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>