<%= form_for([step, complete], url: step_complete_path(step, complete)) do |form| %>
<div class='form-check'>
  <%= form.check_box :completed, { checked: complete.completed, class: 'form-check-input', onchange: 'this.form.submit();',  url: step_complete_path(step, complete), method: :patch, remote: true} , checked_value: true, unchecked_value: false %>
</div>
<% end %>

<!-- , :html=>{:id=>"your_form_id",:multipart => true, :remote=>true} -->
