<h4> <%= task.title %> </h4> 
<p> <%= task.description %> </p>
<%= link_to('Edit', edit_project_section_task_path(@section.project, @section, task)) %>
<%= link_to('Delete', project_section_task_path(@section.project, @section, task), method: :delete, data: {Confirm: 'Are you sure?'}) %>