<h1>Summmit Home</h1>


<% if current_user %>
	<%=link_to 'sign out', destroy_user_session_path, method: :delete%>
	

<% else %>
	<%# sign up only required for testing as addition only usually through email invite%>
	<%=link_to 'sign up', new_user_registration_path %>
	<%=link_to 'sign in', new_user_session_path %>
<% end%>



