<main class="post-section flex column">

  	<% current_user.projects.each do |project| %>
		<div>
			<%= link_to(project.title, project)%>
			<div class="timeline_div">
				<div class='timeline_line'>
					<div class="dot timeline_item first_item"></div>
						<% project.sections.each do |section| %>
					<div class="timeline_item dot" style="left:<%= section.timeline_position %>%;">
				</div>
			<% end %>
		</div>
	</div>
		</div>
	<% end %>
</main>

