<h6><%= comment.content %></h6>
<p><%=link_to('Edit', edit_question_comment_path(@question, comment))%></p>
<p><%=link_to('Delete', question_comment_path(@question, comment), method: :delete, data: {confirm: 'Are you sure'})%>
