<h1><%= @project.title %></h1>
<% @project.lessons.each do |lesson| %>
	<%= render partial: 'lesson', locals: {lesson: lesson} %>
<% end %>

<hr>

<h3>Edit a Lesson</h3>
<%= render 'form_edit', lesson: @lesson %>