<main class='container pr-0 pl-0 ml-5 mr-4 content-container'>

	<div class='shadow-sm pb-4 p-4 container project_container mb-2 bg-white border rounded'>
		<% current_user.projects.each do |project| %>
			<h3><%= link_to(project.title, project_path(project), class: 'nav-link p-0 pb-4 text-navy') %></h3>
			<% project.lessons.sort_by { |l| l.lesson_no}.each do |lesson| %>
				<div class='d-flex justify-content-between pb-2'>
					<%= link_to(lesson_path(lesson), remote: true, class: 'nav-link p-0 flex-grow-1 text-grey') do %>
						<%= render partial: 'lessonhead', locals: { lesson: lesson } %>
					<% end %>
					<p class='width-20 pl-4 text-right text-grey'><%= lesson.date %>
				</div>
			<% end %>
		<% end %>
	</div>


</main>