<main class='container pl-0 pr-0 ml-0 mr-0 d-flex justify-content-around'>

	<div class='shadow-sm pb-4 project_container container mb-2 bg-white border rounded pt-4 col-6'>
		<%= render partial: 'calendar', locals: {project: Project.first} %>
	</div>

	<div class='shadow-sm pb-4 container project_container mb-2 bg-white border rounded col-4'>
		<h3>Upcoming Sessions</h3>
		<% lessons_array = Project.first.assign_lesson_dates.keep_if{ |lesson| lesson[0] > Date.today}%>
		<% lessons_array[1..4].each do |lesson| %>
		<hr>
			<div class="lesson-container d-flex justify-content-between">
				<h6><%= lesson[1].title %> </h6>
				<span><%= lesson[0] %></span>
			</div>
		<% end %>

	</div>


</main>