<main class='container bg-white border rounded'>
	<div class='d-flex justify-content-between mt-3'>
		<div class="width-20"><h4><%= "Lesson #{@lesson.lesson_no}: "%></h4></div>
		<div class="width-80 text-justify"><h4><%= @lesson.title %> </h4></div>
	</div>
	<hr class='mt-1'>
</main>