<h6><%= comment.content %></h6>
<%= link_to('Edit', edit_question_answer_comment_path(@question, answer, comment)) %>
<%= link_to('Delete', question_answer_comment_path(@question, answer, comment), method: :delete, data: {confirm: 'Are you sure?'}) %>
<hr>