.timeline_div {
	display: flex;
	margin-left: 20%;
	margin-right: 20%;
}

.timeline_line {
	align-self: center;
	width: 100%;
	height: 5px;
	margin: 15px;
	display: flex;
}

.timeline_item {
	z-index: 1;
	flex-direction: row;
	position: relative;
	top: -7.5px;
	margin-right: -20px;
}

.timeline_vitem {
}

.dot {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: white;
	border: solid 1px grey;
}

.dot-overdue {
	background: red;
}

.dot-complete {
	background: #00b300;
}

.first_item {
	margin-right: -25px;
}

.last_item {
	top: 1px;
	left: -5.53%;
}

.h-timeline {
	width: 5%;

}

.timeline_tall {
	width: 5px;
	background: grey;
	margin-top: 23px;
	height: 87%;
	margin-left: 16px;
	margin-right: 2px;
}